.myDropdown {
  width: 300px;
}

.myDropdown__wrapper {
  position: relative;
}

.myDropdown__button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 5px;
  background: transparent;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  color: rgba(0, 0, 0, 0.23);
  cursor: pointer;

  input{
    background: transparent;
    outline: none;
    border: none;
    width: 25px;
    flex-grow: 4;
    color: #333;
    font-size: inherit;
  }
}

.myDropdown__list {
  position: absolute;
  top: 35px;
  list-style: none;
  width: 100%;
  height: 0;
  transition: all 0.3s ease-out;
  overflow: hidden;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  opacity: 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f9f9fd;
  }

  -webkit-box-shadow: 0px 10px 11px -4px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 10px 11px -4px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 10px 11px -4px rgba(34, 60, 80, 0.1);

  transition: all .2s ease;

  li {
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    &:hover{
      background-color: rgba(0, 0, 0, 0.02);
      transition: all .2s ease;
    }

    &.checked{
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.nothing_found{
      cursor: none;
      pointer-events: none;
      border: none;
    }
  }


  li:not(:last-child) {
    margin-bottom: 5px;
  }
}

.myDropdown__list_open {
  height: 300px;
  transition: all .3s ease-out;
  opacity: 1;
}


.myDropdown_selected{

  list-style: none;
  display: flex;
  margin-right: 5px;

  li{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #e6e6e6;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 5px;
    

    .selected_title{
      padding: 3px 5px;
      color: #333333;
      pointer-events: none;
    }

    .selected_closeIcon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 100%;

      padding: 2px;
      overflow: hidden;
      cursor: pointer;
      border-radius: 0 5px 5px 0;

      &:hover{
        background-color: rgb(236, 146, 146);
        svg{
          fill: red;
        }
      }

      svg{
        pointer-events: none;
        width: 10px;
      }
    }
  }
}

.select_all{
  font-size: 12px;
  background-color: transparent;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  color: rgba(0, 0, 0, 0.23);
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .2s ease;

  &_checked{
    background-color: #0dc6bf;
    color: white;
  }
}

