.myTable {
  border-spacing: 0;
  vertical-align: middle;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);

  caption{
    text-align: left;
    font-size: 12px;
    padding: 5px 0;
  }

  .product_action{
    svg{
      width: 20px;
      height: 20px;
      fill: #a5a5a5;

      &:not(:last-child){
        margin-right: 5px;
      }

      &:hover{
        fill: var(--main-color);
      }
    }
  }

  tr td:last-child{
    padding: 5px;
  }

  tr td:first-child,
  tr td:last-child{
    text-align: center;
  }

  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 8px;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
  }

  th {
    background-color: #0dc6bf;
    color: white;
    font-weight: 400;
  }

  th:first-child {
    border-top-left-radius: 5px;
  }
  th:last-child {
    border-top-right-radius: 5px;
  }
  tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }

  tbody tr:not(.empty_line) {
    cursor: pointer;
  }

  tbody tr:not(.empty_line):hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  td:not(:last-child),
  th:not(:last-child) {
    border-right: none;
  }

  tr:not(:last-child) td {
    border-bottom: none;
  }
}
