.messages_count {
  font-size: 12px;
  margin-bottom: 20px;
}

.messages_list {
  list-style: none;
}

.messages_author {
  color: var(--main-color);
}

.messages_date {
  font-size: 10px;
  color: grey;
}


.messages_error {
  display: flex;

  padding-top: 5px;
  font-size: 10px;
  color: var(--error-color);

  span:not(:last-child){
    margin-right: 10px;
  }

  .repeat, .cancel{
    color: var(--main-color);
    cursor: pointer;
  }
}

.messages_text {
  font-size: 14px;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: var(--border-radius);

  &.error{
    border: 2px solid var(--error-color);
  }
}

.messages_author,
.messages_date {
  padding: 2px 5px;
}

.messages_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.messages_img {
  height: 50px;
  display: flex;
  justify-content: center;
  flex: 9%;
  align-items: center;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  margin-right: 10px;

  img {
    height: auto;
    width: 100%;
  }
}

.messages_content {
  flex: 90%;
}

.loading_message {
  height: 10px;
  opacity: 0.5;
}
