.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.body{
    padding: 20px;
    &_item:not(:last-child){
        margin-bottom: 15px;
    }
}

.buttons{
    padding: 0 20px;
    button{
        width: 100%;
        padding: 10px;
        font-size: 12px;
    }
}

.footer{
    padding: 20px;
    font-size: 8px;
    color: grey;
    text-align: center;
}

.form {
  width: 300px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid var(--main-color);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.12);
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.12);
}

.error{
  color: red;
  font-size: 12px;
}
