// .form_dashboard_filter{
//     display: flex;
//     margin-bottom: 15px;
//     >div:not(:last-child){
//         margin-right: 15px;
//     }

//     .MyDropdown{
//         width: 300px;
//     }

//     .MyButton button{
//         padding: 5px 20px;
//         height: 100%;
//     }
// }

.form_dashboard_filter{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    align-content: space-between;
    margin-bottom: 15px;
    grid-column-gap: 20px;
    // >div:not(:last-child){
    //     margin-right: 15px;
    // }

    .MyDropdown{
        //width: 300px;
    }

    .MyButton button{
        padding: 5px 20px;
        height: 100%;
        width: 100%;
    }
}

.message_error{
    font-size:12px;
    color: var(--error-color);
    font-weight: 700;
}


