.bio {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      text-align: center;
      font-size: 12px;
      color: var(--main-color);
    }

    .wrapper_img {
      width: 150px;
      height: 150px;

      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .wrapper_img img {
      height: 100%;
      width: auto;
    }
  }

  &__info {
    padding-left: 50px;

    ul {
      list-style: none;
    }

    li {
      font-weight: bold;
    }

    li:not(:last-child) {
      margin-bottom: 5px;
    }

    span {
      padding-left: 5px;
      font-weight: lighter;
      color: grey;
    }
  }

  &__actions {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
}
