.main_section{
    display: flex;
    position: relative;
}

.main{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 2;
    overflow: auto;
    flex-grow: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.info_message{
    font-size: inherit;
    color: green;
    &.error{
        color: red;
    }
}



.header_status{
    padding: 15px 0;
    color: green;

    &.error{
        color: var(--error-color);
    }
}

.header_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
}

.filter_btn{
    display: flex;
    button:not(:last-child){
        margin-right: 10px;
    }
}

.filter_items{
    flex: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 15px;
    padding-right: 50px;
}


@media(max-width: 800px) {
    
    .header_filter{
        flex-direction: column;
        justify-content: center;
    }

    .filter_items{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 0;
        div{
            margin-bottom: 15px;
        }
    }

    .filter_btn{
        justify-content: flex-end;
        width: 100%;
        button:not(:last-child){
            margin-right: 10px;
        }
    }
  }