.navbar {
  background-color: white;
  position: relative;
}

.menu_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navbar_container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: var(--widthMenuIsClose);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  transition: var(--navbarTransition);

  &.open {
    min-width: var(--widthMenuIsOpen);
    transition: var(--navbarTransition);
  }
}

.close_menu_btn {
  display: flex;
  justify-content: flex-end;
  padding: var(--paddingMenu);
  min-height: var(--minHeightHeader);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    font-size: 1.5rem;
    border-radius: 50%;
    overflow: visible;

    position: relative;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;

    cursor: pointer;

    &:hover {
      background-color: #e7e7e7;
    }
  }
}

.menu_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--paddingMenu);
  cursor: pointer;

  &:hover {
    background-color: lighten( #757575, 50%);
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.menu_title {
  flex: 1 1 auto;
  min-width: 0;
  white-space: nowrap;
  padding-left: 0;
}

.menu_icon {
  min-width: var(--widthMenuIsClose);
  svg {
    width: 32px;
    height: 32px;
    fill: var(--colorMenuIcon);
  }
}

@media screen and (max-width: 1200px){
  .menu_title {
    padding-left: 15px;
  }
}

