.table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
  
    td, th{
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.23);
      font-size: 14px;
    }
  
    th {
      background: #b9e9e7; 
      border: 1px solid rgba(0, 0, 0, 0.23);
      font-size: 14px;
      font-weight: 400;
      text-align: left;
     }
  }