.form_dashboard_filter{
    display: flex;
    margin-bottom: 15px;
    >div:not(:last-child){
        margin-right: 15px;
    }
}

.error{
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f96060;
    padding: 10px;
    max-height: 100px;
    overflow: auto;
    transition: display 0.3s ease;

    button{
        font-weight: 700;
        background: transparent;
        outline: none;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }

    &.close{
        display: none;
    }
}

.filter_message{
    font-size: 12px;
    color: #ff5757;
}

.xxx{
    display: flex;
    justify-content: space-between;
}