.modalAbout_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.modalAbout_form{
    min-width: 300px;
    margin-right: 50px;
}

.modalAbout_formItem{
    margin-bottom: 20px;
}