.admin_menu{
    list-style: none;
    display: flex; 

    margin-bottom: 40px;
}

.admin_link{
    padding: 10px 15px;
    background-color: var(--navbar-bg-color);
    border-radius: 5px;
    transition: all .3s ease;

    &.active{
        background-color: var(--main-color);
        color: white
    }
}

.admin_link:not(:last-child){
    margin-right: 10px;
}